<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- meta -->
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			name="keywords"
			content="SnapApp, downloader, instagram, facebook, tiktok, youtube, instagram downloader, facebook downloader, tiktok downloader, youtube downloader, video downloader, photo downloader, social media" />
		<meta
			name="description"
			content="SnapApp, an easy-to-use website downloader. Download captivating photos and videos from Facebook, Instagram, Tiktok, and Youtube quickly and effortlessly." />
		<meta
			name="author"
			content="CodeAether" />
		<meta
			name="robots"
			content="index, follow" />
		<meta
			name="revisit-after"
			content="7 days" />
		<meta
			property="og:title"
			content="SnapApp - Social Media Downloader" />
		<meta
			property="og:description"
			content="SnapApp, an easy-to-use website downloader. Download captivating photos and videos from Facebook, Instagram, Tiktok, and Youtube quickly and effortlessly." />
		<meta
			property="og:image"
			content="https://<%= req.hostname %>/img/snapapp-banner.jpg" />
		<meta
			property="og:url"
			content="https://<%= req.hostname %>/" />
		<meta
			property="og:site_name"
			content="SnapApp" />
		<meta
			property="og:type"
			content="website" />
		<meta
			name="twitter:card"
			content="summary_large_image" />
		<meta
			name="twitter:site"
			content="" />
		<meta
			name="twitter:title"
			content="SnapApp - Social Media Downloader" />
		<meta
			name="twitter:description"
			content="SnapApp, an easy-to-use website downloader. Download captivating photos and videos from Facebook, Instagram, Tiktok, and Youtube quickly and effortlessly." />
		<meta
			name="twitter:image"
			content="https://<%= req.hostname %>/img/snapapp-banner.jpg" />

		<!-- lang -->
		<link
			rel="alternate"
			hreflang="id"
			href="https://<%= req.hostname %>/id/" />
		<link
			rel="alternate"
			hreflang="en"
			href="https://<%= req.hostname %>/en/" />

		<!-- css -->
		<link
			rel="stylesheet"
			href="/css/landing/landing-core.css" />
		<link
			rel="stylesheet"
			href="/css/landing/sec_one.css" />
		<link
			rel="stylesheet"
			href="/css/landing/sec_two.css" />
		<link
			rel="stylesheet"
			href="/css/landing/sec_three.css" />
		<link
			rel="stylesheet"
			href="/css/landing/sec_four.css" />
		<link
			rel="stylesheet"
			href="/css/landing/sec_five.css" />

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
		<!-- font -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,700&display=swap"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
		<!-- icon -->
		<script src="https://unpkg.com/feather-icons"></script>
		<!-- tools -->
		<link
			href="https://unpkg.com/aos@2.3.1/dist/aos.css"
			rel="stylesheet" />
		<!-- Favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="img/icon/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="img/icon/favicon-32x32.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="img/icon/favicon-16x16.png" />
		<link
			rel="manifest"
			href="img/icon/site.webmanifest" />
		<title>SnapApp - Social Media Downloader</title>
	</head>
	<body>
		<!-- Nav Start -->
		<div class="navbar">
			<a
				class="navbar-logo"
				href="#"
				>Snap <span>App</span></a
			>
			<div class="navbar-nav">
				<a href="#home">Home</a>
				<a href="#download">Download</a>
				<a href="#service">Our Service</a>
				<a href="#faq">FAQ</a>
			</div>
			<div class="navbar-extra">
				<a id="hamburger-menu"><i data-feather="menu"></i></a>
			</div>
		</div>
		<!-- Nav end -->

		<!-- section one start-->
		<section
			class="section-one"
			id="home">
			<div class="img">
				<img
					src="img/godray.svg"
					alt=""
					id="blur" />
			</div>
			<div class="row">
				<div
					class="image"
					data-aos="zoom-out-down">
					<img
						src="img/logo-snap.png"
						alt="" />
					<div class="blub-motion"></div>
				</div>
				<div
					class="content"
					data-aos="fade-left">
					<h1><span class="multiText"></span><br />Downloader.</h1>
					<h3>
						A social media downloader is a tool that allows users to quickly and
						easily download media from social media platforms, including private
						accounts. It offers fast download speeds and support for various
						file formats, making it a useful tool for saving favorite content
						offline. "Download with Ease, Anytime, Anywhere!"
					</h3>
					<div class="cta">
						<a
							href="#download"
							class="link"
							>Go Download</a
						>
					</div>
				</div>
			</div>
		</section>
		<!-- section one end -->

		<!-- section two start-->
		<section class="section-two">
			<div class="parent">
				<div class="content-wrapper">
					<div class="content">
						<h3
							class="number-data"
							number="<%= req.visitor %>"></h3>
						<p>Total Visitor</p>
					</div>
					<div class="content">
						<h3
							class="number-data"
							number="<%= req.totalDownload %>"></h3>
						<p>Total Download</p>
					</div>
					<div class="content">
						<h3
							class="number-data"
							number="<%= req.totalTodayVisitor %>"></h3>
						<p>Today Visitor</p>
					</div>
				</div>
			</div>
		</section>
		<!-- section two end -->

		<!-- section three start-->
		<section
			class="section-three"
			id="download">
			<div class="label">
				<div class="text">
					<h2 data-aos="flip-up">We Support<span> Download</span></h2>
				</div>
				<div
					class="judul-garis"
					data-aos="fade-right"></div>
			</div>
			<div class="content">
				<div class="image">
					<img
						src="img/bulat.svg"
						id="bulat"
						data-aos="fade-right"
						data-aos-offset="300"
						data-aos-easing="ease-in-sine" />
				</div>
				<div class="parent">
					<div
						class="child"
						data-aos="flip-right">
						<div class="header">
							<ul>
								<li class="tiktok">
									<a> <i class="fa-brands fa-tiktok"></i> </a>
								</li>
							</ul>
						</div>
					</div>
					<div
						class="child"
						data-aos="flip-right">
						<div class="header">
							<ul>
								<li class="instagram">
									<a><i class="fa-brands fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div
						class="child"
						data-aos="flip-right">
						<div class="header">
							<ul>
								<li class="facebook">
									<a><i class="fa-brands fa-facebook-f"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div
						class="child"
						data-aos="flip-right">
						<div class="header">
							<ul>
								<li class="youtube">
									<a><i class="fa-brands fa-youtube"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="penjelasan">
				<h4>
					We are determined to provide a seamless downloading experience for
					videos and photos from various websites. With our service, you can
					effortlessly save multimedia content from different sources.
					Additionally, we are continuously expanding our offerings, and in the
					near future, we plan to incorporate social media platforms as well.
					Stay tuned for more exciting updates!
				</h4>
				<div class="cta-head">
					<div class="cta">
						<a
							href="/download"
							class="link"
							>Go Download</a
						>
					</div>
				</div>
			</div>
		</section>
		<!-- section three end -->

		<!-- section four start-->
		<section
			class="section-four"
			id="service">
			<h2 data-aos="zoom-in-down">Our Service</h2>
			<div class="content">
				<div class="parent">
					<div
						class="child"
						data-aos="zoom-in-up">
						<div class="card">
							<div class="icon-wrapper">
								<i class="fa-solid fa-file-arrow-down"></i>
							</div>
							<div class="text">
								<h3>High-Quality Downloads</h3>
								<p>
									Our service provides high-quality downloads that ensure you
									get the best version of the file you need.
								</p>
							</div>
						</div>
					</div>
					<div
						class="child"
						data-aos="zoom-in-up">
						<div class="card">
							<div class="icon-wrapper">
								<i class="fa-solid fa-infinity"></i>
							</div>
							<div class="text">
								<h3>Unlimited Downloads</h3>
								<p>
									With our service, you can download as many files as you want,
									with no limit or restrictions.
								</p>
							</div>
						</div>
					</div>
					<div
						class="child"
						data-aos="zoom-in-up">
						<div class="card">
							<div class="icon-wrapper">
								<i class="fa-solid fa-user-group"></i>
							</div>
							<div class="text">
								<h3>Easy-to-Use</h3>
								<p>
									Our service is easy to use, making it accessible for anyone to
									download files hassle-free.
								</p>
							</div>
						</div>
					</div>
					<div
						class="child"
						data-aos="zoom-in-up">
						<div class="card">
							<div class="icon-wrapper">
								<i class="fa-solid fa-file-lines"></i>
							</div>
							<div class="text">
								<h3>Wide Range of File Formats</h3>
								<p>
									We support a wide range of file formats, so you can download
									whatever you need without any compatibility issues.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- section four end -->

		<!-- section five start-->
		<section
			class="section-five"
			id="faq">
			<h2 style="margin-top: 10px">FAQs</h2>
			<div class="parent">
				<div
					style="
						visibility: hidden;
						position: absolute;
						width: 0px;
						height: 0px;
					">
					<svg xmlns="http://www.w3.org/2000/svg">
						<symbol
							viewBox="0 0 24 24"
							id="expand-more">
							<path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" />
							<path
								d="M0 0h24v24H0z"
								fill="none" />
						</symbol>
						<symbol
							viewBox="0 0 24 24"
							id="close">
							<path
								d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
							<path
								d="M0 0h24v24H0z"
								fill="none" />
						</symbol>
					</svg>
				</div>

				<div class="detail-head">
					<details open>
						<summary>
							Does this product have what I need?
							<svg
								class="control-icon control-icon-expand"
								width="24"
								height="24"
								role="presentation">
								<use
									xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="#expand-more" />
							</svg>
							<svg
								class="control-icon control-icon-close"
								width="24"
								height="24"
								role="presentation">
								<use
									xmlns:xlink="http://www.w3.org/1999/xlink"
									xlink:href="#close" />
							</svg>
						</summary>
						<p>Totally. Totally does.</p>
					</details>
				</div>
				<details>
					<summary>
						Can i use it all of the time?
						<svg
							class="control-icon control-icon-expand"
							width="24"
							height="24"
							role="presentation">
							<use
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xlink:href="#expand-more" />
						</svg>
						<svg
							class="control-icon control-icon-close"
							width="24"
							height="24"
							role="presentation">
							<use
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xlink:href="#close" />
						</svg>
					</summary>
					<p>Of course you can, we won't stop you.</p>
				</details>

				<details>
					<summary>
						Are there any restrictions?
						<svg
							class="control-icon control-icon-expand"
							width="24"
							height="24"
							role="presentation">
							<use
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xlink:href="#expand-more" />
						</svg>
						<svg
							class="control-icon control-icon-close"
							width="24"
							height="24"
							role="presentation">
							<use
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xlink:href="#close" />
						</svg>
					</summary>
					<p>Only your imagination my friend. Go forth!</p>
				</details>
			</div>
		</section>
		<!-- section five end -->

		<!-- footer -->
		<div class="foot">
			<div class="footer">
				<!--Waves Container-->
				<div>
					<svg
						class="waves"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						viewBox="0 24 150 28"
						preserveAspectRatio="none"
						shape-rendering="auto">
						<defs>
							<path
								id="gentle-wave"
								d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
						</defs>
						<g class="parallax">
							<use
								xlink:href="#gentle-wave"
								x="48"
								y="0"
								fill="rgba(16, 245, 204, 0.3)" />
							<use
								xlink:href="#gentle-wave"
								x="48"
								y="3"
								fill="rgba(16, 245, 204, 0.5)" />
							<use
								xlink:href="#gentle-wave"
								x="48"
								y="5"
								fill="rgba(16, 245, 204, 0.7)" />
							<use
								xlink:href="#gentle-wave"
								x="48"
								y="7"
								fill="#10f5cc" />
						</g>
					</svg>
				</div>
				<!--Waves end-->
			</div>
			<!--Header ends-->

			<!--Content starts-->
			<div class="footer-content flex">
				<p></p>
			</div>
		</div>
		<!-- footer end -->

		<script>
			feather.replace();
		</script>
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
		<script src="js/landing.js"></script>
		<script>
			var typingEffect = new Typed(".multiText", {
				strings: ["Instagram", "Youtube", "Facebook", "Tiktok"],
				loop: true,
				typeSpeed: 100,
				backSpeed: 80,
				backDelay: 1500,
			});
		</script>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
		<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
	</body>
</html>
